@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Serif Text", serif;
  font-weight: 900;
  line-height: 1.5;
  background-color: #FFF6E7;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-image: url("../gallery/grunge-paper-background.jpg");
  background-position: center;
  background-size: contain;
  min-height: 100vh;
}

body {
  position: relative; /* Required for absolute children */
  min-height: 100vh;
  margin: 0;
}

body::before {
  content: ""; 
  position: absolute;
  inset: 0; /* Shorthand for top/right/bottom/left: 0 */
  background: rgba(255, 246, 231, .7);
  z-index: -1;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.fade-in {
  animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

/* FAQ Container */
.faq-container {
  width: auto;
  position: relative;
}

/* Question Row */
.faq-question {
  border-bottom: 2px solid firebrick;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

/* Answer - Initially hidden */
.faq-answer {
  position: relative;
  overflow: hidden;
  max-height: 0;
  transform: translateY(0);
  transition: all .5s ease-in-out;
  border-radius: 0 0 17px 17px;
  width: auto;
}

/* When visible */
.faq-answer.visible {
  max-height: 500px; /* Adjust based on content */
  opacity: 1;
  transform: translateY(0);
}

/* Bottom border that will "drop" */
.faq-question::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: firebrick;
  transition: all 0.5s ease-in;
  z-index: 1;
}

/* When expanded, move the border down */
.faq-container.expanded .faq-question::after {
  transform: translateY(100%);
}

.image-container::before { 
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0; 
  background-color: rgba(0, 0, 0, .7a);
  z-index: 1;
}

.title {
  filter: drop-shadow(0px 12px 8px rgba(0, 0, 0, 1));
}