@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Serif Text", serif;
  line-height: 1.5;
  background-color: #FFF6E7;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-image: url("../public/gallery/Map.png");
  background-size: cover;
  min-height: 100vh;
}

body {
  position: relative; /* Required for absolute children */
  min-height: 100vh;
  margin: 0;
}

body::before {
  content: ""; 
  position: absolute;
  inset: 0; /* Shorthand for top/right/bottom/left: 0 */
  background: rgba(255, 246, 231, .7);
  z-index: -1;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
