@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Serif Text", serif;
  font-weight: 900;
  line-height: 1.5;
  background-color: #FFF6E7;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-color: firebrick;
  background-image:
    radial-gradient(
      #EAA000,
      #FFF6E7
    );
    z-index: -2;
  min-height: 100vh;
}

body {
  position: relative; 
  min-height: 100vh;
  margin: 0;
}

body::before {
  content: ""; 
  position: absolute;
  inset: 0; 
  background: rgba(255, 246, 231, .82);
  z-index: -1;
}

.fade-in {
  animation: fade-in 1.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}



.faq-question {
  border-bottom: 2px solid firebrick;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container::before { 
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0; 
  background-color: rgba(0, 0, 0, .7);
}

.title {
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 1));
}

/* Loading sequence if needed */
/* 
.loading-fade {
  animation: fade-in-out .5s ease-out;
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(186, 52, 44, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999
} */